.card {
    width: 370px;
    height: 68px;
    border-radius: 10px;
    background-color: midnightblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s ease-out;
}

.bg-active {
    background-color: rgb(56, 56, 202);
}

.cover-image {
    width: 55px;
    border-radius: 8px;
    margin: 0px 10px;
}

.artist {
    font-size: medium;
}

.title {
    font-size: small;
    margin-top: 3px;
    opacity: 0.6;
}

.play {
    font-size: 25px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
}

.play:active {
    transform: translateY(2px);
}

@media screen and (max-width: 772px) {
    .card {
        width: 100%;
        height: 68px;
        border-radius: unset;
        padding: 0px 15px;
        margin-bottom: 3px;
    }
}