.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* playlist */

.play-list {
  width: 400px;
  height: 90vh;
  border-radius: 20px;
  background-image: linear-gradient(rgb(21, 21, 83), rgb(11, 11, 42));
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: column;
  padding: 15px 0px
}


/* display */

.display {
  width: 400px;
  height: 90vh;
  border-radius: 20px;
  background-image: linear-gradient(rgb(21, 21, 83), rgb(11, 11, 42));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 2px;
  padding-top: 15px;
}


@media screen and (max-width: 772px) {
  .app {
    flex-direction: column;
    height: unset;
  }

  .display {
    order: 1;
    border-radius: unset;
    width: 100%;
    height: 100%;
    margin: 0px
  
  }

  .play-list {
    order: 2;
    width: 100%;
    height: auto;
    border-radius: unset;
    margin: 0px;
    padding: 0px
  }
}